<a href="https://colab.research.google.com/github/veiro/Extentend_Data_imputation_with_CTGAN/blob/main/GANS_tarea_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nov 1, 2019

Conditional Imputation GAN on synthetic ranking data. Please do not distribute.

### Reading Data

In [1]:
!pip install sdv
# la primera vez da error, reiniciar ambiente y ejecutar todo de nuevo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sdv in /usr/local/lib/python3.8/dist-packages (0.17.2)
Requirement already satisfied: rdt<1.3.0,>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.2.1)
Requirement already satisfied: Faker<15,>=10 in /usr/local/lib/python3.8/dist-packages (from sdv) (14.2.1)
Requirement already satisfied: cloudpickle<3.0,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (2.2.0)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.21.6)
Requirement already satisfied: copulas<0.8,>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.7.0)
Requirement already satisfied: deepecho<0.4,>=0.3.0.post1 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.3.0.post1)
Requirement already satisfied: sdmetrics<0.9,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.8.1)
Requirement already satisfied: ctgan<0.6,>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.5.2)
Requirement already satisfied: graphviz<1,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.20.1)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.3.5)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.8/dist-packages (from sdv) (4.64.1)
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.8/dist-packages (from copulas<0.8,>=0.7.0->sdv) (1.7.3)
Requirement already satisfied: matplotlib<4,>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from copulas<0.8,>=0.7.0->sdv) (3.6.2)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.13.0+cu116)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (21.3)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.0.2)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (0.14.0+cu116)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker<15,>=10->sdv) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (1.0.6)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker<15,>=10->sdv) (1.15.0)
Requirement already satisfied: pyyaml<6,>=5.4.1 in /usr/local/lib/python3.8/dist-packages (from rdt<1.3.0,>=1.2.0->sdv) (5.4.1)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.8/dist-packages (from rdt<1.3.0,>=1.2.0->sdv) (5.9.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (1.2.0)
Requirement already satisfied: plotly<6,>=5.10.0 in /usr/local/lib/python3.8/dist-packages (from sdmetrics<0.9,>=0.8.0->sdv) (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly<6,>=5.10.0->sdmetrics<0.9,>=0.8.0->sdv) (8.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch<2,>=1.8.0->ctgan<0.6,>=0.5.2->sdv) (4.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.10)

In [2]:
from sdv.tabular import CTGAN
from ctgan.data_transformer import DataTransformer
from ctgan.data_sampler import DataSampler

In [3]:
import os
import sys

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from tqdm import tqdm
import pandas
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
%%time
data_filepath = 'https://raw.githubusercontent.com/gdeng96/cond-imp-gan-ranking/main/synthetic_ranking_data.csv'
data_full = pandas.read_csv(data_filepath)

print("Cantidad de datos reales:")
print(data_full.shape)

data =  data_full.sample(n=100000, random_state=1)
#data =  data_full[0:100000] #.sample(n=100000, random_state=1)

print("Cantidad de datos sampleados:")
print(data.shape)

Cantidad de datos reales:
(640000, 9)
Cantidad de datos sampleados:
(100000, 9)
CPU times: user 835 ms, sys: 169 ms, total: 1 s
Wall time: 1.36 s

### Preparing Data

In [5]:
RANKING_COLS = ["V5", "V6", "V7", "V8", "V9"]
dataToTransform = data.loc[:, RANKING_COLS]

In [6]:
%%time
dt = DataTransformer()
discrete_columns = ['V8']

dt.fit(raw_data=dataToTransform, discrete_columns=discrete_columns)
dataTransformed = dt.transform(raw_data=dataToTransform)
#sampler = DataSampler(data=dataTransformed, output_info=dt.output_info_list, log_frequency=True)
#condvec = sampler.sample_condvec(batch=10)

CPU times: user 33.3 s, sys: 26.9 s, total: 1min
Wall time: 54.3 s

In [7]:
df2 = pd.DataFrame(dataTransformed)

df2.reset_index(drop=True, inplace=True)
data.reset_index(drop=True, inplace=True)

dataTotal= pd.concat([data, df2], axis=1)

In [8]:
dataTotal

,Category,QID,ProductID,QProductID,V5,V6,V7,V8,V9,0,...,56,57,58,59,60,61,62,63,64,65
0,Books,Books634,30,Books634-30,0.575460,2.181218,0.361658,2,2.017008,0.013654,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Beauty,Beauty922,21,Beauty922-21,2.826844,10.096474,0.082438,3,19.432840,0.100145,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,Clothes,Clothes1598,30,Clothes1598-30,5.150209,0.739852,0.028061,14,30.689661,0.216079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Electronics,Electronics1691,52,Electronics1691-52,3.108515,5.493077,0.773000,12,12.173721,-0.153764,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Beauty,Beauty1823,50,Beauty1823-50,3.272858,1.138467,1.360502,4,11.082728,0.415536,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Books,Books1315,40,Books1315-40,-1.760588,4.236946,4.033930,2,0.654007,-0.268699,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99996,Clothes,Clothes1391,34,Clothes1391-34,2.981975,1.346800,0.429989,5,31.436584,-0.239323,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
99997,Electronics,Electronics1152,55,Electronics1152-55,4.086355,4.320428,1.167587,13,15.418107,0.067731,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
99998,Clothes,Clothes1665,58,Clothes1665-58,2.674404,1.387580,1.151788,9,0.226623,-0.007651,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
99999,Furniture,Furniture727,41,Furniture727-41,1.624296,2.635301,1.774494,7,8.991447,0.207441,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [9]:
dataTotal['Category'].unique()

array(['Books', 'Beauty', 'Clothes', 'Electronics', 'Furniture'],
      dtype=object)

In [10]:
#trainlabels = pandas.get_dummies(dataTotal.Category, prefix='Category')

In [11]:
#df2 = pd.DataFrame(trainlabels)
#dataTotal= pd.concat([dataTotal, df2], axis=1)

In [12]:
trainData, testData = train_test_split(dataTotal, test_size=0.10, random_state=41)

In [13]:
DATASET_COLS = ["V5", "V6", "V7", "V8", "V9", "Category", "QID", "ProductID", "QProductID", 'Category_Beauty', 'Category_Books', 'Category_Clothes', 'Category_Electronics', 'Category_Furniture']
cols = [x for x in dataTotal.columns if (x not in DATASET_COLS)]
trainX = trainData.loc[:, cols]
testX = testData.loc[:,cols]

trainX = trainX.values
testX = testX.values

In [14]:
print(trainX.shape)
print(testX.shape)

Train_No = trainX.shape[0] 
Test_No = testX.shape[0]

(90000, 66)
(10000, 66)

In [15]:
Train_No

90000

In [16]:
Test_No

10000

In [17]:
# Number of ranking features that needs imputing
Dim = trainX.shape[1] 
print("Dim :" + str(Dim))

Dim :66

In [18]:
nClass = trainData['Category'].unique().size

In [19]:
##Create one-hot conditional matrix - numpy array
trainlabelsX = pandas.get_dummies(trainData.Category, prefix='Category')
testlabelsX = pandas.get_dummies(testData.Category, prefix='Category')
trainlabelsX = trainlabelsX.values
testlabelsX = testlabelsX.values

## Train GAN

In [20]:
# Set Hyperparameters
# Mini-batch
mb_size = 256
# Iterations
n_epoch = 500
# Missing rate
p_miss = 0.05
# Fully-connected layer sizes (change depending on Dim)
col1 = 64 
col2 = 64

In [21]:
# Other functions
def sample_M(m, n, p):
    A = np.random.uniform(0., 1., size = [m, n])
    B = A > p
    C = 1.*B
    return C
  
trainM = sample_M(Train_No, Dim, p_miss)
testM = sample_M(Test_No, Dim, p_miss)

def xavier_init(size):
    in_dim = size[0]
    xavier_stddev = 1. / tf.sqrt(in_dim / 2.)
    return tf.random_normal(shape = size, stddev = xavier_stddev)

def sample_Z(m, n):
    return np.random.uniform(0., 0.1, size = [m, n])        

def sample_idx(m, n):
    A = np.random.permutation(m)
    idx = A[:n]
    idx
    return idx

In [22]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
#Tensors
X = tf.placeholder(tf.float32, shape = [None, Dim])
M = tf.placeholder(tf.float32, shape = [None, Dim])
H = tf.placeholder(tf.float32, shape = [None, Dim])
Z = tf.placeholder(tf.float32, shape = [None, Dim])
C = tf.placeholder(tf.float32, shape = [None, nClass])

D_W1 = tf.Variable(xavier_init([Dim*2 + nClass, col1]))    
D_b1 = tf.Variable(tf.zeros(shape = [col1]))
D_W2 = tf.Variable(xavier_init([col1, col2]))
D_b2 = tf.Variable(tf.zeros(shape = [col2]))
D_W3 = tf.Variable(xavier_init([col2, Dim]))
D_b3 = tf.Variable(tf.zeros(shape = [Dim]))   

G_W1 = tf.Variable(xavier_init([Dim*2 + nClass, col1]))     
G_b1 = tf.Variable(tf.zeros(shape = [col1]))
G_W2 = tf.Variable(xavier_init([col1, col2]))
G_b2 = tf.Variable(tf.zeros(shape = [col2]))
G_W3 = tf.Variable(xavier_init([col2, Dim]))
G_b3 = tf.Variable(tf.zeros(shape = [Dim]))

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [23]:
%%time 
#Setting up conditional generator
def generator_conditional(x,z,m,c):
    inp = m * x + (1-m) * z  
    inputs = tf.concat(axis = 1, values = [inp,c,m])  
    print("G input: " + str(inputs.shape))
    G_h1 = tf.nn.relu(tf.matmul(inputs, G_W1) + G_b1)
    G_h2 = tf.nn.relu(tf.matmul(G_h1, G_W2) + G_b2)
    G_est = tf.matmul(G_h2, G_W3) + G_b3
    return G_est

    
#Setting up conditional discriminator
def discriminator_conditional(x, m, g, h, c):
    inp = m * x + (1-m) * g  
    inputs = tf.concat(axis = 1, values = [inp,c,h])  
    D_h1 = tf.nn.relu(tf.matmul(inputs, D_W1) + D_b1)
    D_h2 = tf.nn.relu(tf.matmul(D_h1, D_W2) + D_b2)
    D_logit = tf.matmul(D_h2, D_W3) + D_b3
    D_prob = tf.nn.sigmoid(D_logit)  
    return D_prob

#Generate fake copies
print("X: " + str(X.shape))
print("Z: " + str(Z.shape))
print("M: " + str(M.shape))
print("C: " + str(C.shape))

G_sample = generator_conditional(X,Z,M,C)
D_prob = discriminator_conditional(X, M, G_sample, H,C)

D_loss1 = -tf.reduce_mean(M * tf.log(D_prob + 1e-8) + (1-M) * tf.log(1. - D_prob + 1e-8)) * 2
G_loss1 = -tf.reduce_mean((1-M) * tf.log(D_prob + 1e-8)) / tf.reduce_mean(1-M)
MSE_train_loss = tf.reduce_mean((M * X - M * G_sample)**2) / tf.reduce_mean(M)
MSE_test_loss = tf.reduce_mean(((1-M) * X - (1-M)*G_sample)**2) / tf.reduce_mean(1-M)

D_loss = D_loss1 + MSE_test_loss
G_loss = G_loss1 + 10 * MSE_train_loss 


#Imputed Copy
Imputed_copy = M * X + (1-M) * G_sample

#Adam Optimizer
D_params = [D_W1, D_W2, D_W3, D_b1, D_b2, D_b3]
G_params = [G_W1, G_W2, G_W3, G_b1, G_b2, G_b3]
D_solver = tf.train.AdamOptimizer().minimize(D_loss, var_list=D_params)
G_solver = tf.train.AdamOptimizer().minimize(G_loss, var_list=G_params)

X: (?, 66)
Z: (?, 66)
M: (?, 66)
C: (?, 5)
G input: (?, 137)
CPU times: user 407 ms, sys: 8.04 ms, total: 415 ms
Wall time: 427 ms

In [24]:
%%time
sess = tf.Session()
sess.run(tf.global_variables_initializer())


i = 1
DiscriminatorLoss = []
GeneratorLoss = []
IterationsRecord = []

tqdm(range(n_epoch))

for it in tqdm(range(n_epoch)):
    
    mb_idx = sample_idx(Train_No, mb_size)
    X_mb = trainX[mb_idx,:]  
    Z_mb = sample_Z(mb_size, Dim) 
    M_mb = trainM[mb_idx,:]  
    H_mb1 = sample_M(mb_size, Dim, 1-0.5)
    H_mb = M_mb * H_mb1
    C_mb = trainlabelsX[mb_idx, :]
    
    #print("M_mb: " + str(M_mb.shape))
    #print("X_mb: " + str(X_mb.shape))
    #print("Z_mb: " + str(Z_mb.shape))
    #print("H_mb: " + str(H_mb.shape))
    #print("C_mb: " + str(C_mb.shape))

    New_X_mb = M_mb * X_mb + (1-M_mb) * Z_mb  # Missing Data Introduce
    
    _, D_loss = sess.run([D_solver, D_loss1], feed_dict = {X: X_mb, M: M_mb, Z: New_X_mb, H: H_mb, C: C_mb})
    _, G_loss, MSE_train_loss_curr, MSE_test_loss_curr = sess.run([G_solver, G_loss1, MSE_train_loss, MSE_test_loss],
                                                                       feed_dict = {X: X_mb, M: M_mb, Z: New_X_mb, H: H_mb, C: C_mb})
         
        
    #%% Intermediate Losses
    if it % 50 == 0:
        IterationsRecord.append(it)
        DiscriminatorLoss.append(D_loss)
        GeneratorLoss.append(G_loss)
        print('Iter: {}'.format(it))
        print('Dloss: {:.4}'.format(D_loss))
        print('Gloss: {:.4}'.format(G_loss))
        print()

  0%|          | 0/500 [00:00<?, ?it/s]
  3%|▎         | 14/500 [00:03<01:19,  6.08it/s]

Iter: 0
Dloss: 1.549
Gloss: 0.7627

 14%|█▍        | 69/500 [00:03<00:08, 49.17it/s]

Iter: 50
Dloss: 0.4533
Gloss: 0.05283

 26%|██▌       | 129/500 [00:03<00:03, 105.22it/s]

Iter: 100
Dloss: 0.4019
Gloss: 0.05799

 35%|███▍      | 174/500 [00:04<00:02, 126.35it/s]

Iter: 150
Dloss: 0.4068
Gloss: 0.05247

 44%|████▍     | 220/500 [00:04<00:01, 140.67it/s]

Iter: 200
Dloss: 0.4234
Gloss: 0.05612

 53%|█████▎    | 265/500 [00:04<00:01, 138.35it/s]

Iter: 250
Dloss: 0.399
Gloss: 0.05816

 65%|██████▌   | 326/500 [00:05<00:01, 142.91it/s]

Iter: 300
Dloss: 0.3898
Gloss: 0.06115

 74%|███████▍  | 371/500 [00:05<00:00, 142.73it/s]

Iter: 350
Dloss: 0.4009
Gloss: 0.05434

 84%|████████▎ | 418/500 [00:06<00:00, 147.71it/s]

Iter: 400
Dloss: 0.3981
Gloss: 0.05746

 96%|█████████▌| 479/500 [00:06<00:00, 143.83it/s]

Iter: 450
Dloss: 0.3844
Gloss: 0.05801

100%|██████████| 500/500 [00:06<00:00, 75.55it/s]

CPU times: user 6.04 s, sys: 1.98 s, total: 8.03 s
Wall time: 13.3 s

In [47]:
def mostrarDiferencias(X_mb,Imputed_copy_v2 ):
    X_mb_real = dt.inverse_transform(X_mb)
    #print("X_mb_real: ")
    #print(X_mb_real)

    imputed_real = dt.inverse_transform(Imputed_copy_v2)
    #print("imputed_real: ")
    #print(imputed_real)

    print(X_mb_real.compare(imputed_real, keep_equal=True, align_axis=0, keep_shape=True).head(20))

### Record some summary statistics

In [48]:
#Getting imputations for test ranking dataset + RMSE.
N_imputations = 10
RMSEoutput = []

for j in range(N_imputations):
    Z_mb = sample_Z(Test_No, Dim) 
    M_mb = testM
    X_mb = testX
        
    New_X_mb = M_mb * X_mb + (1-M_mb) * Z_mb       
    New_C_mb = testlabelsX
    
    MSE_final, Sample, Imputed_copy_v2, M_v2 = sess.run([MSE_test_loss, G_sample, Imputed_copy, M], feed_dict = {X: testX, M: testM, Z: New_X_mb, C: New_C_mb})


    mostrarDiferencias(X_mb, Imputed_copy_v2)

    print("MSE_final: " + str(MSE_final))
    RMSEoutput.append(np.sqrt(MSE_final))
    print("Done with imputation", j)

               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.975532  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06624962
Done with imputation 0
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.921937  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.066233166
Done with imputation 1
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.883276  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06622445
Done with imputation 2
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.901847  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06623531
Done with imputation 3
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.937300  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06625177
Done with imputation 4
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.902504  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06626883
Done with imputation 5
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.860313  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06627409
Done with imputation 6
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.923466  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.06624409
Done with imputation 7
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.890219  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.066229254
Done with imputation 8
               V5         V6        V7  V8         V9
0 self  -0.646684  14.066710  4.718122   1   1.140152
  other -0.646684  14.066710  4.718122   1   1.140152
1 self   5.099712   3.172998  0.742055  11  25.417235
  other  5.099712   4.858452  0.742055  11  25.417235
2 self   1.386982  11.483917  1.855971   3   0.789953
  other  1.386982  11.483917  1.855971   3   0.789953
3 self   0.995977   2.777716  0.673525   7   6.518261
  other  0.995977   2.777716  0.673525   7   6.518261
4 self   1.348308   0.859739  0.670172   2  15.131402
  other  1.348308   0.859739  0.670172   2  15.131402
5 self   1.642244   1.760933  1.358020   2   3.731006
  other  1.642244   1.760933  1.358020   2   3.731006
6 self   5.084872   3.825250  0.852716   4  28.441885
  other  5.084872   3.825250  0.852716   4  28.441885
7 self   0.468913   2.708350  0.198221   1   7.078636
  other  1.944330   2.708350  0.198221   1   7.078636
8 self   2.382675   4.476028  0.214304   7  34.177167
  other  2.382675   4.476028  0.214304   7  34.177167
9 self   0.753716   8.976134  2.538294   3   4.604793
  other  0.753716   8.976134  2.538294   3   4.604793
MSE_final: 0.066246085
Done with imputation 9

In [26]:
RMSEDF = pandas.DataFrame({'RMSE': RMSEoutput})
RMSEDF.to_csv('rmse.csv', index=False, header=True)

In [27]:
RMSEDF.mean(axis=0)

RMSE    0.257362
dtype: float32

Code adapted based on Yoon et al. (2018)